<div [ngSwitch]="currentStep" class="w-full h-full p-8 flex items-center justify-center flex-col">
  <div class="flex items-center justify-center">
    <app-select-file *ngSwitchCase="0" (onSelectedFileChange)="onSelectFile($event)" [isLoading]="isLoading"/>
    <app-greeting *ngSwitchCase="1" [userInfo]="rawData.userInfo"/>
    <app-count-video
      *ngSwitchCase="2"
      [watchVideoCount]="analyzedData.watchedVideosCount"/>

    <app-spent-time
      *ngSwitchCase="3"
      [spentTime]="analyzedData.spentTime"
    >
    </app-spent-time>
    <app-most-active-weekday *ngSwitchCase="4"></app-most-active-weekday>
    <app-lsc-count *ngSwitchCase="5"></app-lsc-count>
    <app-most-active-weekday *ngSwitchCase="6"></app-most-active-weekday>
    <app-session *ngSwitchCase="7"></app-session>
    <app-follow *ngSwitchCase="8"></app-follow>
    <app-summary *ngSwitchCase="9"></app-summary>
  </div>

  <div *ngIf="!isLoading && !!rawData.userInfo" class="p-3 flex gap-5">
    <button
      class="rounded-full border border-white p-2"
      (click)="updateStep(-1)"
    >
      BACK
    </button>
    <button
      class="rounded-full border border-white p-2"
      (click)="updateStep(1)"
    >
      NEXT
    </button>
  </div>
</div>
